* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,
body {
    background: #f0efef;
    width: 100%;
    height: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.floatleft {
    float: left
}

.floatright {
    float: right
}

.equity-hasget {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.equity-fa {
    width: 94%;
    height: 80px;
    background: white;
    border: 1px solid #d2cdcd;
    margin: 10px auto;
    border-radius: 10px
}

.equity-card-left {
    width: 80px;
    height: 80px;
    background: url('../images/equity-card-tip.png') no-repeat;
    background-size: 100% 100%;
}

.equity-card-middle {
    font-size: 12px;
    height: 70px;
    padding: 3px
}

.equity-card-middle div {
    line-height: 23px;
    padding-left: 3px
}
.equity-card-middle>div:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}


.equity-card-right {
    width: 80px;
    height: 80px;
}

.equity-card-hasget {
    background: url('../images/equity-card-hasget.png') no-repeat left;
    background-size: 110% 110%;

}

.equity-card-tip {
    width: 60px;
    height: 60px;
    background: white;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 30px;
}

.equity-card-tip-child {
    width: 40px;
    height: 40px;
    margin: 10px auto;
    line-height: 0
}

.head {
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
      border: 1px solid gray;
}

.head>div {
    float: left;
    text-align: center;
  
}

.head>div:nth-child(1) {
    width: 20%;
}

.head>div:nth-child(2) {
    width: 60%;
}
.head>div:nth-child(3) {
    width: 20%;
}