body {
    background-color: #000036;
    max-width: 600px;
    margin: 0px auto;
}

.head>img {
    width: 100%;
}

.foot>img {
    width: 100%;
}

.authCode {
    width: 80%;
    margin: 0px auto;
}

.leftRadius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rightRadius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

span.getAuth {
    color: #fff;
    background-color: #49cdf2;
}

div.tip {
    background-color: #292956;
    color: #ededed;
    opacity: 0.8;
    border-radius: 25px;
    width: 80%;
    margin: 10px auto;
    padding: 20px 10px;
}

div.privilegeName {
    color: #fafafa;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
}

div.productList {
    color: #fafafa;
    width: 80%;
    margin: 10px auto;
}

.productList>div {
    font-weight: 600;
    background-color: #fafafa;
    color: #000;
    font-size: 18px;
    border-radius: 10px;
    padding: 0 10px;
}

button.orderBtn {
    width: 80%;
    margin: 10px 10%;
    background-color: orange;
    color: #fafafa;
}

.productList>table {
    width: 100%;
}

div.discount {
    width: 80%;
    margin: 10px auto;
    height: 90px;
    display: block;
    padding: 5px;
    background: url('../images/discountBg2.png') no-repeat center top;
    background-size: 100% 100%;
    text-align: center;
    color: #333;
}

div.price {
    text-align: right;
    color: #fafafa;
    width: 80%;
    margin: 10px auto;
}

div.discount>div:nth-child(1) {
    float: left;
    width: 75%;
}

div.discount>div:nth-child(2) {
    float: left;
    height: 80px;
    width: 25%;
    font-size: 20px;
    line-height: 70px;
}

div.discount>div:nth-child(2)>img {
    width: 60px;
    height: auto;
    margin-left: -20px;
}

div.discount>div:nth-child(1)>div:nth-child(1) {
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
     font-weight: 800;
}

div.discount>div:nth-child(1)>div:nth-child(2) {
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 800;
}