body {
    background-color: #e4f8ff;
    max-width: 600px;
    margin: 0px auto;
}

.head{
   background: url('../images/privilegeHomeTitle.png') no-repeat center;
   background-size: 100%;
   padding-top: 130px;

}



.type {
    display: block;
    margin: 0 auto;
    height: 60px;
    padding: 0px;
    /*background: url('../images/typeBtn.png') no-repeat center;*/
    background-size: 100%;
    width: 0%;

}

.type>div {
    display: block;
    width: 25%;
    height: 100%;
    float: left;
}

.type>div>a {
    width: 100%;
    height: 100%;
    display: block;
}

.order>a>img {
    width: 80%;
    margin-left: 10%;
}

.center .imgDiv {
    transition: all 300ms ease;
    width: 120px;
    margin: 60px auto;
}

.imgDiv img {
    width: 100%;
}

.center .slick-center .imgDiv {
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.foot>img {
    width: 100%;
}











/*.slick-dots li button{
    color: #000;
    font-size: 14px;
}
.slick-dots li button:before{
    font-size: 90px;
}*/