body {
    background-color: #000036;
    max-width: 600px;
    margin: 0px auto;
}

.head > img {
    width: 100%;
}

.foot > img {
    width: 100%;
}

.authCode {
    width: 80%;
    margin: 0px auto;
}

.leftRadius {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rightRadius {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

span.getAuth {
    color: #fff;
    background-color: #49cdf2;

}