body {
    background-color: #fef8e7;
    max-width: 600px;
    margin: 0px auto;
}

.head>img {
    width: 100%;
}

.center .imgDiv {
    transition: all 300ms ease;
    width: 120px;
    margin: 30px auto;
}

.imgDiv img {
    width: 100%;
}

.slick-slider {
    margin-bottom: 0px;
}

.center .slick-center .imgDiv {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.foot>img {
    width: 100%;
}

.slickDiv {
    display: block;
    height: 160px;
    width: 120px;
    border: solid 2px #fafafa;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 140px;
}

.slickDivBg1 {
    background: url('../images/privilegeCateBg1.png') no-repeat center;
    background-size: 110% 110%;
}

.slickDivBg2 {
    background: url('../images/privilegeCateBg2.png') no-repeat center;
    background-size: 110% 110%;
}

.slickDivBg3 {
    background: url('../images/privilegeCateBg3.png') no-repeat center;
    background-size: 110% 110%;
}

.slickDivBg4 {
    background: url('../images/privilegeCateBg4.png') no-repeat center;
    background-size: 110% 110%;
}

.slickDivBg5 {
    background: url('../images/privilegeCateBg5.png') no-repeat center;
    background-size: 110% 110%;
}

.slickDivBg6 {
    background: url('../images/privilegeCateBg6.png') no-repeat center;
    background-size: 110% 110%;
}

.slickDivBg7 {
    background: url('../images/privilegeCateBg7.png') no-repeat center;
    background-size: 110% 110%;
}

div.tip {
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    width: 90%;
    margin: 10px auto;
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 300px;
}

b {
    font-weight: 600;
    color: #fa1;
}