<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njhh.ahqy.dao.impl.mapper.ProductMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.njhh.ahqy.entity.Product">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="memo" property="memo"/>
        <result column="online_date" property="onlineDate"/>
        <result column="offline_date" property="offlineDate"/>
        <result column="pic_url" property="picUrl"/>
        <result column="retail_price" property="retailPrice"/>
        <result column="retail_type" property="retailType"/>
        <result column="source" property="source"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="support_band" property="supportBand"/>
        <result column="is_unsubscribe" property="isUnsubscribe"/>
        <result column="is_repeatable" property="isRepeatable"/>
        <result column="pay_type" property="payType"/>
        <result column="net_type" property="netType"/>
        <result column="has_codes" property="hasCodes"/>
        <result column="codes" property="codes"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `code`,
        `type`,
        `name`,
        `description`,
        `memo`,
        `online_date`,
        `offline_date`,
        `pic_url`,
        `retail_price`,
        `retail_type`,
        `source`,
        `supplier_id`,
        `support_band`,
        `is_unsubscribe`,
        `is_repeatable`,
        `pay_type`,
        `net_type`,
        `has_codes`,
        `codes`
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO t_product (
            `id`,
            `code`,
            `type`,
            `name`,
            `description`,
            `memo`,
            `online_date`,
            `offline_date`,
            `pic_url`,
            `retail_price`,
            `retail_type`,
            `source`,
            `supplier_id`,
            `support_band`,
            `is_unsubscribe`,
            `is_repeatable`,
            `pay_type`,
            `net_type`,
            `has_codes`,
            `codes`
        ) VALUES (
            #{pojo.id},
            #{pojo.code},
            #{pojo.type},
            #{pojo.name},
            #{pojo.description},
            #{pojo.memo},
            #{pojo.onlineDate},
            #{pojo.offlineDate},
            #{pojo.picUrl},
            #{pojo.retailPrice},
            #{pojo.retailType},
            #{pojo.source},
            #{pojo.supplierId},
            #{pojo.supportBand},
            #{pojo.isUnsubscribe},
            #{pojo.isRepeatable},
            #{pojo.payType},
            #{pojo.netType},
            #{pojo.hasCodes},
            #{pojo.codes}
        )
    </insert>


    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.code!=null">`code`,</if>
            <if test="pojo.type!=null">`type`,</if>
            <if test="pojo.name!=null">`name`,</if>
            <if test="pojo.description!=null">`description`,</if>
            <if test="pojo.memo!=null">`memo`,</if>
            <if test="pojo.onlineDate!=null">`online_date`,</if>
            <if test="pojo.offlineDate!=null">`offline_date`,</if>
            <if test="pojo.picUrl!=null">`pic_url`,</if>
            <if test="pojo.retailPrice!=null">`retail_price`,</if>
            <if test="pojo.retailType!=null">`retail_type`,</if>
            <if test="pojo.source!=null">`source`,</if>
            <if test="pojo.supplierId!=null">`supplier_id`,</if>
            <if test="pojo.supportBand!=null">`support_band`,</if>
            <if test="pojo.isUnsubscribe!=null">`is_unsubscribe`,</if>
            <if test="pojo.isRepeatable!=null">`is_repeatable`,</if>
            <if test="pojo.payType!=null">`pay_type`,</if>
            <if test="pojo.netType!=null">`net_type`,</if>
            <if test="pojo.hasCodes!=null">`has_codes`,</if>
            <if test="pojo.codes!=null">`codes`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.code!=null">#{pojo.code},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            <if test="pojo.memo!=null">#{pojo.memo},</if>
            <if test="pojo.onlineDate!=null">#{pojo.onlineDate},</if>
            <if test="pojo.offlineDate!=null">#{pojo.offlineDate},</if>
            <if test="pojo.picUrl!=null">#{pojo.picUrl},</if>
            <if test="pojo.retailPrice!=null">#{pojo.retailPrice},</if>
            <if test="pojo.retailType!=null">#{pojo.retailType},</if>
            <if test="pojo.source!=null">#{pojo.source},</if>
            <if test="pojo.supplierId!=null">#{pojo.supplierId},</if>
            <if test="pojo.supportBand!=null">#{pojo.supportBand},</if>
            <if test="pojo.isUnsubscribe!=null">#{pojo.isUnsubscribe},</if>
            <if test="pojo.isRepeatable!=null">#{pojo.isRepeatable},</if>
            <if test="pojo.payType!=null">#{pojo.payType},</if>
            <if test="pojo.netType!=null">#{pojo.netType},</if>
            <if test="pojo.hasCodes!=null">#{pojo.hasCodes},</if>
            <if test="pojo.codes!=null">#{pojo.codes},</if>
        </trim>
    </insert>


    <insert id="insertList">
        INSERT INTO t_product (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.code},
            #{pojo.type},
            #{pojo.name},
            #{pojo.description},
            #{pojo.memo},
            #{pojo.onlineDate},
            #{pojo.offlineDate},
            #{pojo.picUrl},
            #{pojo.retailPrice},
            #{pojo.retailType},
            #{pojo.source},
            #{pojo.supplierId},
            #{pojo.supportBand},
            #{pojo.isUnsubscribe},
            #{pojo.isRepeatable},
            #{pojo.payType},
            #{pojo.netType},
            #{pojo.hasCodes},
            #{pojo.codes}
            )
        </foreach>
    </insert>


    <update id="update">
        UPDATE t_product
        <set>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.code != null">`code` = #{pojo.code},</if>
            <if test="pojo.type != null">`type` = #{pojo.type},</if>
            <if test="pojo.name != null">`name` = #{pojo.name},</if>
            <if test="pojo.description != null">`description` = #{pojo.description},</if>
            <if test="pojo.memo != null">`memo` = #{pojo.memo},</if>
            <if test="pojo.onlineDate != null">`online_date` = #{pojo.onlineDate},</if>
            <if test="pojo.offlineDate != null">`offline_date` = #{pojo.offlineDate},</if>
            <if test="pojo.picUrl != null">`pic_url` = #{pojo.picUrl},</if>
            <if test="pojo.retailPrice != null">`retail_price` = #{pojo.retailPrice},</if>
            <if test="pojo.retailType != null">`retail_type` = #{pojo.retailType},</if>
            <if test="pojo.source != null">`source` = #{pojo.source},</if>
            <if test="pojo.supplierId != null">`supplier_id` = #{pojo.supplierId},</if>
            <if test="pojo.supportBand != null">`support_band` = #{pojo.supportBand},</if>
            <if test="pojo.isUnsubscribe != null">`is_unsubscribe` = #{pojo.isUnsubscribe},</if>
            <if test="pojo.isRepeatable != null">`is_repeatable` = #{pojo.isRepeatable},</if>
            <if test="pojo.payType != null">`pay_type` = #{pojo.payType},</if>
            <if test="pojo.netType != null">`net_type` = #{pojo.netType},</if>
            <if test="pojo.hasCodes != null">`has_codes` = #{pojo.hasCodes},</if>
            <if test="pojo.codes != null">`codes` = #{pojo.codes}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>


    <select id="getProductById" resultMap="AllColumnMap">
        SELECT * FROM t_product
        WHERE id = #{pojo.id}
    </select>

    <select id="getProductList" resultMap="AllColumnMap">
    SELECT * FROM t_product
        where status = #{pojo.status}
    <if test="pojo.type !=0">
        AND type = #{pojo.type}
    </if>
        AND online_date &lt; now()
        AND offline_date &gt; now()

        ORDER BY online_date DESC
</select>

</mapper>

