<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njhh.ahqy.dao.impl.mapper.RegionMapper">

    <resultMap id="AllColumnMap" type="com.njhh.ahqy.entity.Region">
        <result column="id" property="id"/>
        <result column="num_seg" property="numSeg"/>
        <result column="city" property="city"/>
        <result column="city_code" property="cityCode"/>
    </resultMap>


    <sql id="all_column">
        `id`,
        `num_seg`,
        `city`,
        `city_code`
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO t_num_region (
            `id`,
            `num_seg`,
            `city`,
            `city_code`
        ) VALUES (
            #{pojo.id},
            #{pojo.numSeg},
            #{pojo.city},
            #{pojo.cityCode}
        )
    </insert>


    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO t_num_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.numSeg!=null"> `num_seg`,</if>
            <if test="pojo.city!=null"> `city`,</if>
            <if test="pojo.cityCode!=null"> `city_code`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.numSeg!=null">#{pojo.numSeg},</if>
            <if test="pojo.city!=null">#{pojo.city},</if>
            <if test="pojo.cityCode!=null">#{pojo.cityCode},</if>
        </trim>
    </insert>


    <insert id="insertList">
        INSERT INTO t_num_region (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.numSeg},
            #{pojo.city},
            #{pojo.cityCode}
            )
        </foreach>
    </insert>


    <update id="update">
        UPDATE t_num_region
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.numSeg != null"> `num_seg` = #{pojo.numSeg}, </if>
            <if test="pojo.city != null"> `city` = #{pojo.city}, </if>
            <if test="pojo.cityCode != null"> `city_code` = #{pojo.cityCode} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>


    <select id="getRegionList" resultMap="AllColumnMap">
        SELECT * FROM t_num_region
    </select>

    <select id="getRegion" resultMap="AllColumnMap">
        SELECT * FROM t_num_region
        where num_seg = #{pojo.numSeg}
    </select>
</mapper>

