<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njhh.ahqy.dao.impl.mapper.UserMapper">

    <resultMap id="AllColumnMap" type="com.njhh.ahqy.entity.User">
        <result column="id" property="id"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="name" property="name"/>
        <result column="passwd" property="passwd"/>
        <result column="we_code" property="weCode"/>
        <result column="channel" property="channel"/>
        <result column="net_type" property="netType"/>
        <result column="pay_type" property="payType"/>
        <result column="city_code" property="cityCode"/>
        <result column="state" property="state"/>
    </resultMap>


    <sql id="all_column">
        `id`,
        `phone_num`,
        `name`,
        `passwd`,
        `we_code`,
        `channel`,
        `net_type`,
        `pay_type`,
        `city_code`,
        `state`
    </sql>


    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO t_user (
            `id`,
            `phone_num`,
            `name`,
            `passwd`,
            `we_code`,
            `channel`,
            `net_type`,
            `pay_type`,
            `city_code`,
            `state`
        ) VALUES (
            #{pojo.id},
            #{pojo.phoneNum},
            #{pojo.name},
            #{pojo.passwd},
            #{pojo.weCode},
            #{pojo.channel},
            #{pojo.netType},
            #{pojo.payType},
            #{pojo.cityCode},
            #{pojo.state}
        )
    </insert>


    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.phoneNum!=null"> `phone_num`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.passwd!=null"> `passwd`,</if>
            <if test="pojo.weCode!=null"> `we_code`,</if>
            <if test="pojo.channel!=null"> `channel`,</if>
            <if test="pojo.netType!=null"> `net_type`,</if>
            <if test="pojo.payType!=null"> `pay_type`,</if>
            <if test="pojo.cityCode!=null"> `city_code`,</if>
            <if test="pojo.state!=null"> `state`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.phoneNum!=null">#{pojo.phoneNum},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.passwd!=null">#{pojo.passwd},</if>
            <if test="pojo.weCode!=null">#{pojo.weCode},</if>
            <if test="pojo.channel!=null">#{pojo.channel},</if>
            <if test="pojo.netType!=null">#{pojo.netType},</if>
            <if test="pojo.payType!=null">#{pojo.payType},</if>
            <if test="pojo.cityCode!=null">#{pojo.cityCode},</if>
            <if test="pojo.state!=null">#{pojo.state},</if>
        </trim>
    </insert>

    <insert id="insertList">
        INSERT INTO t_user (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.phoneNum},
            #{pojo.name},
            #{pojo.passwd},
            #{pojo.weCode},
            #{pojo.channel},
            #{pojo.netType},
            #{pojo.payType},
            #{pojo.cityCode},
            #{pojo.state}
            )
        </foreach>
    </insert>


    <update id="update">
        UPDATE t_user
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.phoneNum != null"> `phone_num` = #{pojo.phoneNum}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.passwd != null"> `passwd` = #{pojo.passwd}, </if>
            <if test="pojo.weCode != null"> `we_code` = #{pojo.weCode}, </if>
            <if test="pojo.channel != null"> `channel` = #{pojo.channel}, </if>
            <if test="pojo.netType != null"> `net_type` = #{pojo.netType}, </if>
            <if test="pojo.payType != null"> `pay_type` = #{pojo.payType}, </if>
            <if test="pojo.cityCode != null"> `city_code` = #{pojo.cityCode}, </if>
            <if test="pojo.state != null"> `state` = #{pojo.state} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>


    <select id="getUserById" resultMap="AllColumnMap">
        SELECT * from t_user WHERE id = #{id}
    </select>
    <select id="getUserByName" resultMap="AllColumnMap">
        SELECT * from t_user WHERE name = #{name}
    </select>
    <select id="getUserByPhoneNum" resultMap="AllColumnMap">
        SELECT * from t_user WHERE phone_num = #{phoneNum}
    </select>

</mapper>

